<!DOCTYPE html>
<html>
<head>
    <title>Add a Book to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>

    <h1>Add a New Book</h1>

    <form action="/books/bookadded" method="post">

        <label>Book name:</label>
        <input type="text" name="name" required><br><br>

        <label>Price (£):</label>
        <input type="number" name="price" step="0.01" required><br><br>

        <button type="submit">Add Book</button>

    </form>

</body>
</html>
